<div class="panel panel-primary">
  <div class="panel-heading">
    Liste des etudiants de la formation
  </div>
  <div class="panel-body">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>N°</th>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Date Naissance</th>
    </tr>
    </thead>
    <tbody>
     <tr *ngFor="let et of listeEtudiants._embedded.etudiants">
       <td>{{et.id}}</td>
       <td>{{et.nom}}</td>
       <td>{{et.prenom}}</td>
       <td>{{et.dateNaissance}}</td>
     </tr>
    </tbody>
  </table>
  </div>
</div>
